@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap')

h1, h2, h3, h4, h5, h6, p
  margin: 0

.app
  font-family: 'Montserrat', sans-serif
  margin: 60px 20px

  .titleContainer
    text-align: center
    .title
      font-weight: 600
      .dot
        color: #2684ff

  .inputContainer
    margin-bottom: 40px
    .inputTitle
      margin: 25px 0 10px 0

  .outputContainer
    margin: 0 0 40px 0
    .grossContainer,
    .netContainer
      color: #fff
      background: #2684ff
      text-align: center
      border-radius: 4px
      min-width: 100px
      padding: 20px 40px
      margin: 0 0 20px 0
      .gross,
      .net
        margin: 0 0 10px 0
      .gross-eur,
      .net-eur
        font-size: 20px
        font-weight: 600
    h4
      margin-bottom: 10px

  .outputTable
    background: #f0f0f0
    border-radius: 4px
    padding: 20px 20px
    .container
      align-items: center
      border-bottom: 1px solid #b7b7b7
      .text
        text-align: end
        margin: 10px 0
      .color
        color: #2684ff
      .percent
        text-align: end
        margin: 10px 0
      .number
        text-align: end
        margin: 10px 0
      .number-eur
        text-align: end
        margin: 10px 0

.input
  font-size: 16px
  font-family: 'Montserrat', sans-serif
  color: hsl(0, 0%, 20%)
  background-color: hsl(0, 0%, 100%)
  border-color: hsl(0, 0%, 80%)
  border-radius: 4px
  border-style: solid
  border-width: 1px
  min-height: 38px
  box-sizing: border-box
  flex-wrap: wrap
  outline: 0
  padding: 2px 8px
  overflow: hidden
  width: 100%
  &:focus
    border-color: #2684ff
    border-width: 2px

// Remove arrows/spinners from input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

@media screen and ( min-width: 768px  )
  .app
    margin: 60px 80px

    .outputContainer
      display: flex
      justify-content: center
      .grossContainer,
      .netContainer
        margin: 0 20px

    .outputTable
      .container
        display: grid
        grid-template-columns: 2fr 1fr 1fr 1fr
        grid-template-rows: auto
        .text
          grid-column: 1 / 2
          text-align: start
        .percent
          grid-column: 2 / 3
          text-align: end
        .number
          grid-column: 3 / 4
          text-align: end
        .number-eur
          grid-column: 4 / 5
          text-align: end

@media screen and ( min-width: 1024px )
  .app
    max-width: 1024px
    margin: 60px auto

    .inputContainer
      .left,
      .right,
      .bottom
        display: flex

      .left
        .amount
          flex: 1
          margin-right: 20px
        .residence
          flex: 1
          margin-left: 20px

      .right
        .children
          flex: 1
          margin-right: 20px
        .dependants
          flex: 1
          margin-left: 20px

      .bottom
        .invalidity
          flex: 1
          margin-right: 20px
        .type
          flex: 1
          margin-left: 20px
